.el-dialog__wrapper
  .el-dialog__body
    .dialog-content
      display flex
      div
        flex 1
      &>div:last-child
        flex 0 0 70%
        margin-left 30px
        .el-select
          width 120px
  .el-form-item__label, .el-form-item
    width 100%
