.financialChat
  .amount, .income
    margin-top 20px
    .amount-tip
      padding 20px
      padding-bottom 5px
      border-bottom 1px solid #DFDFDF
      .title
        font-size 15px
    .p2
      padding 20px
      h3
        color #5CC372
        font-size 18px
        span
          font-size 13px
      p
        color #BCBCBB
        line-height 26px
        display block
    .el-col.income
      border-right 1px solid #DFDFDF
      div.grid-content
        height 100px
        display flex
        align-items left
        align-content center
        justify-content center
        flex-direction column
  .income
    margin-top 20px
.financialChat
  .add-store-btn
    display flex
    justify-content space-between
    align-items center
    h3
      font-size 16px