.manager
  background-color #fff
  border 1px solid #DCDEE2
  margin-bottom 20px
  padding 20px 0
  &>div.el-row
    line-height 34px
  .el-row
    padding 0 30px
    .el-col-16
      text-align left
      span:nth-child(1)
        display inline-block
        margin-right 30px
        font-size 15px
        font-weight 600
      span
        margin-right 80px
        font-size 14px
    .el-col-8
      text-align right
      span
        display inline-block
        cursor pointer
        color #2D8CF0
        font-size 14px
        &:first-child
          margin-right 10px
.extra
  margin-bottom 20px
.trainer-info
  margin-top 20px
  .el-row
    display flex
    align-items center
    .el-col-4
      width auto
      &>div
        width 150px
        height 150px
        img
          width 100%
          height 100%
          display inline-block
          border 1px solid #ccc
    .el-col-12
      text-align left
      h2, p
        margin 0
        padding 0
        line-height 30px
      p
        font-size 13px
        strong
          width 66px
          display inline-block
    .el-col-6
      align-self start
      .el-button
        padding 10px 25px
        &:last-child
          margin-left 5px
          color #FF0052
.introduce
  background-color #fff
  margin-top 20px
  border 1px solid #DCDEE2
.el-dialog, .el-message-box
  width 430px !important
.admin-change
  background-color #fff
  border 1px solid #DCDEE2
  padding 35px 20px
  .el-col-8
    span
      font-size 14px
      line-height 26px
      &.pic
        width 80px
        height 80px
        border 1px solid #ccc
        border-radius 50%
        display block
        margin 15px auto
        img
          width 100%
          height 100%
          display inline-block
  .el-col-16
    .el-form
      padding 20px 0
      .el-form-item
        display block
        .el-input
          width 310px
        .el-select
          width 80px
        .el-form-item__label
          width 55px
h4
  font-size 16px
  line-height 32px
.el-col-16
  text-align left
.codeBtn
  cursor pointer
  background-color #409eff
  color #fff
  border-radius 6px
  text-align center
  font-size 13px
  display inline-block
  padding 8px 0
  width 80px
  line-height normal
.get-code
  .el-input
    width 230px
.face-check
  display flex
  justify-content space-between
  padding 10px 20px
  h3
    font-size 16px
  .el-button
    padding 10px 18px
.face-dialog
  p
    font-size 13px
    .el-icon-warning
      color #FFAA01
      padding-right 8px
  .shoot
    display flex
    justify-content space-between
    &>div
      width 260px
      margin 20px 0
    .uploaded-img
      width 230px
      height 230px
      border 1px solid #DCDEE2
    .right
      text-align center
      margin-top 50px
      z-index 999
      p
        line-height 20px
      .el-button
        margin-top 20px
        &:last-child
          margin-left 0
  .dialog-footer
    margin-bottom 20px
.add-trainer
  .el-form-item
    display block
.worker-ifo
  h2
    font-size 16px
.split-tip
  word-spacing 20px
.control-upload
  position relative !important
  #canvas
    position absolute
    top 0