.course-start
  background none
  .amount-tip
    background-color #fff
    text-align left
    padding 30px 20px
    border 1px solid #DCDEE2
    border-bottom 0 none
    margin-top 20px
    h5
      font-size 14px
      strong
        color #57C5F7
  .arrange-course
    border 1px solid #DCDEE2
    border-right 0 none
    height 530px
    overflow hidden
    overflow-y auto
    background #fff
    .el-col
      width 14.28%
    .week
      background-color #DCDEE2
      padding 20px 0
      display inherit
      font-weight 600
      font-size 13px
      color #515a6e
    .line-box
      position relative
      background-color #fff
      &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6)
        border-right 0 none
      .day
        font-size 16px
        font-weight 600
        display block
        width 100%
        text-align left
        text-indent 20px
        line-height 34px
      ul
        padding 0
        margin-top 0
      .el-button
        margin 25px 0
    .change-week
      background-color #E8EAEC
      padding 20px
      span
        padding 0 10px
        cursor pointer
      h3
        font-size 14px
        display inline-block
.suggest
  background-color #fff
  height 60px
  display flex
  align-items center
  margin 20px 0
  justify-content space-between
  span
    font-size 14px
    &:nth-child(1)
      flex 0 0 50%
      text-align left
      font-size 14px
      padding-left 20px
    &:last-child
      padding-right 20px
  .el-input
    width 160px
    padding-right 20px
  .suggest-tip
    display flex
    justify-content center
    align-items center
    .tipMessage
      display inline-block
.add-course
  margin-top 20px
  background-color #fff
  padding 20px
  border 1px solid #DFDFDF
  .el-form
    .el-form-item
      width 100%
      .el-input
        width 30%
      .quill-editor
        width 80%
        padding-left 150px
.batch
  margin-top 20px
  .batch-course
    .el-form-item
      width 100%
    .picker-time
      .el-form-item
        display inline-block
        width auto
    .setting
      margin-bottom 30px
      &>div.title
        background-color #DCDEE2
        padding 20px
        font-size 14px
      .choice-day
        padding 20px
        margin-bottom 20px
        border 1px solid #DCDEE2
        position relative
        .el-form-item__label
          width auto !important
        .button-text
          position absolute
          top 5px
          right 0
.self-course-detail
  .detail
    margin-top 20px
    .course-info
      width 100%
      li
        display flex
        &>span:nth-child(1)
          width 120px
    .info
      display flex
      div
        width 150px
        height 150px
        border 1px solid #efefef
        border-radius 10px
        img
          width 100%
          height 100%
          display inline-block
      ul li
        line-height 24px
        h3
          font-size 15px
          line-height 34px
.add-store-btn
  .el-button
    padding 10px 28px
#pane-coursePicture
  h3
    font-size 15px
  &>img
    width 150px
    height 150px
    display inline-block
    margin 10px 0 30px
  .all
    ul
      display flex
      padding 0 10px
      flex-wrap wrap
      li
        margin 0 10px
        box-shadow 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important
        padding 8px
        img
          width 150px
          height 150px
          display inline-block
.no-limit
  color #2D8CF0
  padding 0 5px 0 15px
.set-selfcourse
  .el-form-item
    width auto
    display block
  .picker-time
    .el-form-item__content
      .el-date-editor
        width 160px !important
  .set-cycle
    border 1px solid #eee
    padding 20px 10px 10px 10px
    margin-top 15px
    &>div
      display flex
      margin-bottom 10px
      &>span
        width 80px
        display inline-block
        line-height 35px
    .tip
      font-size 11px
.get-pic
  width 148px
  height 148px
  display inline-block
  img
    width 100%
    height 100%
    display inline-block
.continue-private
  margin-top 20px
.no-message
  font-size 14px
  color #888
  text-align center
  padding 50px 0
.pic-list
  margin-top 20px
  ul
    display flex
    margin 0
    padding 0 20px
    flex-wrap wrap
    li
      width 150px
      padding 0 5px
      box-shadow 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12) !important
      padding 8px
      height 150px
      margin-left 20px
      position relative
      img
        width 100%
        height 100%
        display inline-block
      .el-icon-circle-close
        position absolute
        top 0
        right 0
        font-size 20px
.no-card-message
  width 100%
  display inline-block
  text-align center !important
  font-size 14px
  padding 50px 0
.list_course
  margin-bottom 15px
  padding 10px 0
  ul
    position relative
    cursor pointer
    .circle
      width 7px
      height 7px
      display inline-block
      border-radius 50%
      position absolute
      top 5px
      left 10px
    li
      text-align left
      padding-left 30px
      line-height 24px
      span
        font-size 14px
        &:nth-child(1)
          width 50px
          display inline-block
          text-align left
.class-schedule
  .detail
    margin-top 20px
    .control-btn
      margin-bottom 20px
    ul
      li
        padding 10px 0
        span
          font-size 15px
          &:nth-child(1)
            width 100px
            display inline-block
.member-card
  .el-checkbox-group
    display inline-block
p.tip
  color #f40
  line-height 24px
.set-self-course
  margin 20px 0
  .el-date-editor--time-select
    width 150px
    margin-right 10px
