.header
  height 58px
  background-color #fff
  -webkit-box-sizing border-box
  box-sizing border-box
  line-height 58px
  position absolute
  left 0
  top 0
  width 100%
  min-width 1180px
  z-index 2
  -webkit-box-shadow 0 2px 3px #DCDEE2
  box-shadow 0 2px 3px #DCDEE2
  white-space nowrap
  &>div
    float left
    &:first-child
      width 200px
      background-color #001529
    &:nth-child(2)
      padding-left 30px
    &:last-child
      float right
      padding-right 30px
  img
    width auto
    height 40px
    vertical-align middle
  .store-select
    text-align left
  .el-col-3
    width 200px
  .el-dropdown
    cursor pointer
.el-dropdown-link
  color #2D8CF0
#dropdown-menu-5621
  min-width 98px
.no-storeTitle
  color #1e1c1c
  font-size 14px
  line-height 50px
  display inline-block
  vertical-align middle
  margin-left 4%
