.no-data
  padding-top 100px
  p
    color #999
    font-size 14px
    padding 0
    margin 0
.box-store
  display flex
  flex-wrap wrap
  align-content flex-start
  margin-top 20px
  .store-name
    text-align left
    font-size 15px
    font-weight bold
  .box-card
    margin 0 10px 15px
    max-width 330px
    .reveal-info
      display flex
      align-items center
      align-content center
      min-height 150px
      div
        width 130px
        height 130px
        svg, img
          width 100%
          height 100%
          display inline-block
      ul
        margin 0
        margin-left 10px
        padding 0
        li
          text-align left
          line-height 24px
  .el-card__body
    .into
      width 100%
