.count
  margin 30px 0
  .el-col-12
    padding 0 6px
    .el-card
      background-color #2d8cf0
      color #fff
      h3
        font-size 17px
        line-height 30px
      .count-info
        span
          font-size 15px
          line-height 30px
          padding-right 10px
    &:last-child
      .el-card
        background-color rgb(255, 105, 106)
    .count-info-right .el-card__body
      div
        display flex
        span
          font-size 15px
          fon-weight bold
          flex 1
          line-height 30px
.chart
  overflow hidden
  .chart-cont
    display flex
    align-items center
    align-content center
    &>div:first-child
      flex 0 0 60%
      h1
        font-size 16px
        line-height 24px
      p
        font-size 15px
        line-height 24px
    .list-title
      text-align right
      font-size 20px
      color rgb(204, 204, 204)
      line-height 24px
      width 100%
  .el-col
    padding-right 10px
    &:last-child
      padding-right 0
.record
  margin 20px 0
  padding 10px
  background #fff
  .el-col
    padding 10px
    .el-card
      color #fff
      height 85px
      p
        font-size 14px
        line-height 20px
      span
        font-size 14px
        strong
          font-size 15px
    .card1
      p
        color #333
.order
  .box-card
    .title
      display flex
      &>div
        flex 0 0 95%
        text-align left
        h3
          font-size 15px
          line-height 28px
        p
          font-size 14px
      .el-button--text
        color #2D8cF0
        font-size 16px
.chart
  .el-card
    overflow unset