.login-content
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  background url('../assets/img/login-modal.png')
  background-size cover
  z-index 10
  .login-modal
    width 350px
    background #fff
    border-radius 3px
    text-align center
    padding 33px 25px 50px
    position fixed
    left 50%
    top 50%
    margin-left -175px
    margin-top -180px
    img
      height 38px
    .visible
      position absolute
      top 6px
      right 10px
      cursor pointer
      img
        width 16px
        height 16px
    .login-btn
      width 100%
    .tipMessage
      text-align left
.el-form
  text-align center !important
  .el-form-item__label, .el-form-item
      width 100%