.el-pagination 
  padding-bottom 60px
.add-membe
  padding 20px
  .el-form-item__content
    display inline-block !important
  .el-form
    margin-top 20px
  .dialog-footer
    margin-bottom 50px
  .tipMessage
    padding-left 110px
  .el-button
    padding 8px 20px
.add-membe .el-form-item
  margin-bottom 12px
.el-tag
  margin 0 8px
.get-tags
  span
    padding-right 20px
    font-size 14px
.font-tip
  span:first-child
    padding-right 15px
.table-po
  position relative
.check-all
  position absolute
  top 15px
  left 2%

