.managePermission
  background-color #fff
  padding 20px
  display flex
  border 1px solid #DCDEE2
  margin-bottom 20px
  div
    text-align center
.three-level
  ul
    display block
    li
      display inline-block
.permission
  .el-card
    background-color #F2F2F2
    border 1px solid #DCDEE2
  .title
    float left
    line-height 45px
    text-align center
    font-size 15px
    font-weight 500
    border-bottom 1px solid #DCDEE2
    &:nth-child(1), &:nth-child(2)
      width 22.5%
    &:nth-child(4)
      width 31.5%
    &:nth-child(3)
      width 23.5%
  .el-menu
    background-color #CCCCCC
    .el-menu-item:focus, .el-menu-item:hover, .el-menu-item.is-active
      background #fff
      border-color #5BA5F3
    li
      border-left 2px solid transparent
  .level-title
    overflow hidden
    h6
      flex 1
.three-position
  &>div
    display flex
    height 100%
    float left
    align-items center
    width 100%
    justify-content center
    &:nth-child(2)
      float right
.permission-set
  overflow hidden
  &>div
    float left
  .nav-list
    width 50%
    .el-menu, .two
      width 50%
      float left
    .two
      float right
.same-height
  width 45%
  display flex
  flex-direction row
.equal
  width 50%
.two
  display flex
  justify-content center
  align-items center
  font-size 14px
.threeFour
  flex 1
.same-control
  width 55%
  min-height 390px
  display flex
  flex-direction column
  .same-height
    width 100%
    .three
      display flex
      align-items center
      justify-content center
      background #CCCCCC
      border 1px solid #dcdfe6
      padding 15px 0
      width 45%
    .four
      border 1px solid #E8EAEC
      padding 15px
      width 55%
      .el-checkbox
        display block
      