.store-info
  display flex
  margin-top 58px
  justify-content center
  &>div:first-child
    flex 0 0 10%
    margin-right 30px
  &>div:last-child
    flex 0 0 40%
.indent
  word-spacing 24px
.storeinfo
  width 70%
.map-info
  height 100%
  .map-wrap
    height 80%
    overflow hidden